<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <div class="container">
        <ul class="card__list">
            <li class="card" v-for="car in items">
                <div class="card__slider swiper">
                    <div class="swiper-wrapper">
                        <div class="card__slide swiper-slide" v-for="photo in car.forSalePhotos">
                            <img class="card__img" :src="photo" alt="" data-path="default-popup">
                        </div>
                    </div>
                    <div class="card__prev swiper-button-prev"></div>
                    <div class="card__next swiper-button-next"></div>
                </div>
                <ul class="card__desc">
                    <li class="desc__item">
                        <span class="card__title">
                            {{car.car_brand}}. {{car.car_model}} {{car.year}}г.
                        </span>
                    </li>
                    <li class="desc__item">
                        <span class="card__price">
                            {{car.price.toLocaleString('ru-RU',{ minimumFractionDigits: 2 })}}&nbsp;руб.
                        </span>
                    </li>
                    <li class="desc__item">
                        <span class="card__adress">
                            {{car.address}}
                        </span>
                    </li>
                </ul>

                <button class="card__btn">Отправить заявку</button>
            </li>
        </ul>
    </div>

    <div class="modal-overlay">
        <div class="modal" data-target="default-popup">
            <div class="modal__description">
                <img class="modal__img" src="img/item-1.png" alt="">
            </div>
            <button class="modal__btn"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.666641 15.3044L15.3333 0.000153846L16 0.695801L1.33331 16L0.666641 15.3044Z"
                      fill="black" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.666695 -0.000125032L15.3334 15.3041L14.6667 15.9998L2.70967e-05 0.695522L0.666695 -0.000125032Z"
                      fill="black" />
            </svg>
            </button>
        </div>

        <div class="modal" data-target="default-popup2">
            <div class="modal__description">
                <img class="modal__img" src="img/item-2.png" alt="">
            </div>
            <button class="modal__btn"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.666641 15.3044L15.3333 0.000153846L16 0.695801L1.33331 16L0.666641 15.3044Z"
                      fill="black" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.666695 -0.000125032L15.3334 15.3041L14.6667 15.9998L2.70967e-05 0.695522L0.666695 -0.000125032Z"
                      fill="black" />
            </svg>
            </button>
        </div>

        <div class="modal" data-target="default-popup3">
            <div class="modal__description">
                <img class="modal__img" src="img/item-3.png" alt="">
            </div>
            <button class="modal__btn"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.666641 15.3044L15.3333 0.000153846L16 0.695801L1.33331 16L0.666641 15.3044Z"
                      fill="black" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.666695 -0.000125032L15.3334 15.3041L14.6667 15.9998L2.70967e-05 0.695522L0.666695 -0.000125032Z"
                      fill="black" />
            </svg>
            </button>
        </div>

    </div>
</div>
</body>
<script>
    const {createApp} = Vue
    createApp({
        data() {
            return {
                base_url: 'https://api.poverka-cistern.ru/v1',
                items: [],
                click_img: ''
            }
        },
        methods: {
            getCars(page = 0, limit = 0) {
                let url = this.base_url + '/bid-for-sale?'
                page ? url += `page=${page}` : ''
                limit ? url += `&limit = ${limit}` : ''
                fetch(url).then(res => {
                    if (res.ok) {
                        res.json().then((data) => {

                            console.log(data.data.models)
                            this.items = data.data.models.concat(data.data.models,data.data.models,data.data.models)
                            window.dataOnLoad = true
                        })
                    }
                })
            },
        },
        created() {
            this.getCars()
        }
    }).mount('#app')
</script>
<script src="slider.js"></script>
</html>

